# .env
GEMINI_API_KEY=
APP_URL=

# SAMEDAY ROMANIA INTEGRATION
SAMEDAY_API_USER=
SAMEDAY_API_PASSWORD=
SAMEDAY_CLIENT_ID=
SAMEDAY_CLIENT_SECRET=

# SMARTBILL ROMANIA INTEGRATION
SMARTBILL_USER=
SMARTBILL_API_TOKEN=
SMARTBILL_CIF=

# SECURITY
ADMIN_PASSKEY=
